html
	head
		title= Boilerplate

		link(href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet" type="text/css")

		link(href="assets/css/main.css" rel="stylesheet")
  
	body

		h1 Hello World


		script(src="assets/js/main.js")
